.App {
  background-color: rgb(221, 221, 221);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.exerciseEvent {
  font-size: 1.1rem;
  background-color: white;
  width: 600px;
  max-width: 92%;
}

.formContainer {
  display:flex;
  justify-content: center;
  min-width: 380px; 
}

#exerciseAdderForm {
  font-size: 0.8rem;
  border: 6px solid grey;
  background-color: rgb(244, 244, 244);
  padding: 3%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#exerciseAdderForm input {
  min-width: 240px;
}

#submissionBtn {
  background-color: rgba(103, 189, 103, 0.74);
  border-radius: 22%;
  max-width: 250px;
}

.deleteX {
  background-color: firebrick;
  color: white;
  position: relative;
  left: 94%;
  bottom: 6vh;
  font-size:14px;
  text-align: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
